html {
    background: #FDFDFD;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
    background: transparent;
    color: #333;
    text-rendering: optimizeLegibility;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
  z-index: 1000;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0px !important;
}

h1, h2, h3, h4 {
    color: #4e89a4;
    font-weight: 200 !important;
}

::-webkit-input-placeholder {
  color: #4e89a4 !important;
}

:-moz-placeholder { /* Firefox 18- */
  color: #4e89a4 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #4e89a4 !important;
}

:-ms-input-placeholder {  
  color: #4e89a4 !important;
}

section {
    clear:both;
}

a {
    color: #d9534f;
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 16px;
}

nav, footer.page-footer {
    box-shadow: none !important;
    background: #c0c0aa; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #c0c0aa , #1ce); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #c0c0aa , #1ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.brand-logo {
    font-weight: 200;
}

.brand-logo img {
    width: 70px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    top: -5px;
    float: left;
}

.brand-logo img:hover {
    opacity: 0.7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.content {
    margin-top: 20px;
    position: relative;
}

.card-title {
    margin: 0px;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.collection-item {
    border-bottom: 1px solid rgba(0,0,0,0.7) !important;
}

.collection .collection-item.active {
}

li {
    font-size: 16px;
}

.rank {
    font-size: 16px;
}

.profile {
    margin-top: 30px;
}

.profile-avatar {
    margin-right: 15px;
    border-radius: 5px;
    border: 3px solid rgba(0,0,0,0.6);
    background: #111;
    max-width: 100%;
}

.profile-name {
    margin: 0px;
}

.alert-dev {
    margin-top: 25px;
    background: #488AC7;
    padding: 10px 20px !important;
    border-radius: 5px;
    border-bottom: 4px solid rgba(0,0,0,0.1);
    font-size: 14px !important;
}

.serv-info {
    z-index: 5;
}

td, th {
    padding: 0px 10px 0px 10px !important;
    border-radius: 0px !important;
}


.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0;
}

.tooltip.in {
  opacity: 0.9;
}

.tooltip.tooltip-top, .tooltip.bs-tether-element-attached-bottom {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.tooltip-top .tooltip-inner::before, .tooltip.bs-tether-element-attached-bottom .tooltip-inner::before {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  content: "";
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.tooltip-right, .tooltip.bs-tether-element-attached-left {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.tooltip-right .tooltip-inner::before, .tooltip.bs-tether-element-attached-left .tooltip-inner::before {
  top: 50%;
  left: 0;
  margin-top: -5px;
  content: "";
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

.tooltip.tooltip-bottom, .tooltip.bs-tether-element-attached-top {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.tooltip-bottom .tooltip-inner::before, .tooltip.bs-tether-element-attached-top .tooltip-inner::before {
  top: 0;
  left: 50%;
  margin-left: -5px;
  content: "";
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.tooltip-left, .tooltip.bs-tether-element-attached-right {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip.tooltip-left .tooltip-inner::before, .tooltip.bs-tether-element-attached-right .tooltip-inner::before {
  top: 50%;
  right: 0;
  margin-top: -5px;
  content: "";
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 0.25rem;
}

.tooltip-inner::before {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  max-width: 276px;
  padding: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  font-size: 0.875rem;
  word-wrap: break-word;
  background-color: rgba(0,0,0,0.8);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  color: #FFF;
}

.popover.popover-top, .popover.bs-tether-element-attached-bottom {
  margin-top: -10px;
}

.popover.popover-top::before, .popover.popover-top::after, .popover.bs-tether-element-attached-bottom::before, .popover.bs-tether-element-attached-bottom::after {
  left: 50%;
  border-bottom-width: 0;
}

.popover.popover-top::before, .popover.bs-tether-element-attached-bottom::before {
  bottom: -11px;
  margin-left: -11px;
  border-top-color: rgba(0, 0, 0, 0.25);
}

.popover.popover-top::after, .popover.bs-tether-element-attached-bottom::after {
  bottom: -10px;
  margin-left: -10px;
  border-top-color: #fff;
}

.popover.popover-right, .popover.bs-tether-element-attached-left {
  margin-left: 10px;
}

.popover.popover-right::before, .popover.popover-right::after, .popover.bs-tether-element-attached-left::before, .popover.bs-tether-element-attached-left::after {
  top: 50%;
  border-left-width: 0;
}

.popover.popover-right::before, .popover.bs-tether-element-attached-left::before {
  left: -11px;
  margin-top: -11px;
  border-right-color: rgba(0, 0, 0, 0.25);
}

.popover.popover-right::after, .popover.bs-tether-element-attached-left::after {
  left: -10px;
  margin-top: -10px;
  border-right-color: #fff;
}

.popover.popover-bottom, .popover.bs-tether-element-attached-top {
  margin-top: 10px;
}

.popover.popover-bottom::before, .popover.popover-bottom::after, .popover.bs-tether-element-attached-top::before, .popover.bs-tether-element-attached-top::after {
  left: 50%;
  border-top-width: 0;
}

.popover.popover-bottom::before, .popover.bs-tether-element-attached-top::before {
  top: -11px;
  margin-left: -11px;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.popover.popover-bottom::after, .popover.bs-tether-element-attached-top::after {
  top: -10px;
  margin-left: -10px;
  border-bottom-color: #f7f7f7;
}

.popover.popover-bottom .popover-title::before, .popover.bs-tether-element-attached-top .popover-title::before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 20px;
  margin-left: -10px;
  content: "";
  border-bottom: 1px solid #f7f7f7;
}

.popover.popover-left, .popover.bs-tether-element-attached-right {
  margin-left: -10px;
}

.popover.popover-left::before, .popover.popover-left::after, .popover.bs-tether-element-attached-right::before, .popover.bs-tether-element-attached-right::after {
  top: 50%;
  border-right-width: 0;
}

.popover.popover-left::before, .popover.bs-tether-element-attached-right::before {
  right: -11px;
  margin-top: -11px;
  border-left-color: rgba(0, 0, 0, 0.25);
}

.popover.popover-left::after, .popover.bs-tether-element-attached-right::after {
  right: -10px;
  margin-top: -10px;
  border-left-color: #fff;
}

.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 1rem;
  background: #000;
  border-radius: 0.2375rem 0.2375rem 0 0;
}

.popover-title:empty {
  display: none;
}

.popover-content {
  padding: 9px 10px !important;
}

.popover::before,
.popover::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover::before {
  content: "";
  border-width: 11px;
}

.popover::after {
  content: "";
  border-width: 10px;
}

th {
  padding: 8px 8px !important;
}


/* Fix for DT_Bootstrap popovers. */
.popover.top {
    padding: 0px;
}
.popover.rare {
    border: 1px solid #3987c6;
}
.popover.epic {
    border: 1px solid #744bc6;
}
.popover.unique {
    border: 1px solid #c6b900;
}
.popover.legendary {
    border: 1px solid #00be65;
}
.popover.unidentified {
    border: 1px solid #f00;
}
/*.rare .arrow {
    border-top-color: #3987c6;
}
.epic .arrow {
    border-top-color: #744bc6;
}
.unique .arrow {
    border-top-color: #c6b900;
}
.legendary .arrow {
    border-top-color: #00be65;
}
.unidentified .arrow {
    border-top-color: #f00;
}*/

.desc-b {
    color: lightblue;
}
.desc-c {
    color: darkorange;
}
.desc-d {
    color: purple;
}
.desc-e {
    font-weight: bold;
}
.desc-r {
    color: red; /* Used in quest dialogs and some items with warnings / dangerous */
}
.desc-g {
    color: green;
}
.desc-k {
    color: black; /* Nexon'd tag, but still need to add it so it's replaced. Used in some custom dialogs */
}

.item-search, .pages {
    margin-top: 1em !important;
    background-color: rgba(255,255,255,.9) !important;
    border: 1px solid #f2f2f2 !important;
    border-radius: 2px !important;
    height: 3rem !important;
    box-sizing: border-box !important;
    padding: 0 .75rem !important;
    font-size: 1rem;
}

.for-search {
  position: absolute;
  top: 5px;
  left: 5px;
}

.welcome-search, .tt-input {
    font-weight: 200;
}

/* Search Classes */

.twitter-typeahead {
  width: 100%;
}

.typeahead,
.tt-query,
.tt-hint, {
  width: 100%;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {
  width: 100%;
  margin: 12px 0;
  padding: 0px;
  background: #FFF;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 8px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}

.top-ad {
  margin-top: 10px;
  text-align: center;
}

.bottom-ad {
  margin-top: 10px;
  text-align: center;
}

.m-dialog {
  background: rgba(0,0,0,0.6);
}